{% extends "base.html" %}
{% set thispage = thispage|default('home') %}

{% block body %}
<div class="center">
    <h1>Canvass</h1>
    <p class="tagline">
        Canvass is an initiative driven by <a href="//fedoraproject.org">Fedora</a>
        to collect statistics on Linux usage and hardware specifications of users.
        Canvass is used to further Linux development and gain an greater
        understanding of the userbase.
    </p>
    <div class="row">
        <div class="col-md-6">
            <h3>How it works</h3>
            <p>
                Canvass is an opt-in program during the Fedora installation process.
                If a user decides to opt-in, their hardware information, their country,
                and their Linux specifications will be sent to the central Canvass server.
                These records are then used to generate objective statistics.
            </p>
        </div>
        <div class="col-md-6">
            <h3>More about Canvas</h3>
            <p>Cavass is open source. It's <a href="//github.com/fedora-infra/canvass">source</a>
                 can be found on GitHub. You can hack on it, or run your own instance.
                 Canvass is the successor to many prior projects with similar goals. </p>
        </div>
    </div>
    <br />
    <div class="row">
        <a class="btn btn-lg btn-info" href="/stats/overview">Statistic Overview</a>
    </div>
</div>
{% endblock %}
